table {
    width: 800px;
    border: #000 thin solid;
    border-collapse: collapse;
}

th, td {
    border: #000 thin solid;
}

th {
    background-color: #ccc;
    padding: 10px;
}

input[type="number"] {
    width: 80%;
    margin: 10px auto;
    display: block;
}